<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE for ALL</title>
    <link rel="stylesheet" href="/css/landing.css" type="text/css">
</head>

<body>
    <header class="showcase">
        <div class="content">
            <img src="/images/icon256.png" class="logo" alt="14all">
            <div class="title">
                ONE FOR ALL
            </div>

            <div class="text"><a href="http://onef4rall.herokuapp.com/home"
                    class="btn btn-sm animated-button thar-one">Try It</a>
            </div>
            <div class="text"><a href="#team" class="btn btn-sm animated-button thar-two">Learn more</a></div>
        </div>
    </header>

    <!-- Services -->
    <h1 class="center" id="team" style="padding-top: 2%;padding-bottom: 0%;margin-bottom: 0%;">DEVELOPERS
    </h1>
    <section class="services">
        <div class="container grid-2 center">
            <div>
                <i class="fab fa-youtube fa-4x"></i>
                <h3>Naman Indranil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
            </div>
            <div>
                <i class="fas fa-chalkboard-teacher fa-4x"></i>
                <h3>Ankush Agrawal</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
            </div>
            <div>
                <i class="fas fa-chalkboard-teacher fa-4x"></i>
                <h3>Divyansh Jain</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
            </div>
            <div>
                <i class="fas fa-briefcase fa-4x"></i>
                <h3>Namit Bhandari</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="about bg-light">
        <div class="container">
            <div class="grid-1">
                <div>
                    <h3>About Us</h3>
                    <p>A multifeatured platform to keep yourself updated and in touch with events
                        happening in your region. Bringing together trending videos, latest news stories,
                        newest releases in entertainment indutry and other cool features with it.
                        <br>
                        <br>Looking for more words, how about you try it for yourself?
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class="center bg-dark">
        <p>One_For_All Team, LNMIIT &copy; 2021-2022</p>
    </footer>
</body>

</html>